@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Simonetta&display=swap');

/*---------------------- Global Settings */

.green {
    background-color: #f4f5f0 !important;
    color: #007a3d;
}

.red {
    background-color: #f4f5f0 !important;
    color: #cd212a;
}

/*---------------------- Navbar */
/* overwrite Materialize navbar */

nav {
    background-color: #f4f5f0;
    font-weight: bold;
}

nav .brand-logo {
    margin-left: 20px;
    font-weight: bold;
}

.sidenav {
    background-color: #f4f5f0;
    font-weight: bold;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.font-heading {
    font-family: "Simonetta", sans-serif;
}

/*---------------------- Flash Messages */
.flashes h4 {
    line-height: 2;
}

/*---------------------- Recipe Cards */

.card,
.card-panel,
.card-title {
    background-color: #f4f5f0 !important;
}

/* .card-image,
.card-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
} */

.card.horizontal.small .card-image, 
.card.horizontal.medium .card-image, 
.card.horizontal.large .card-image {
    height: 80%;
    max-height: none;
    margin: 10px;
    overflow: hidden;
}

/* .card.horizontal {
    max-width: 100%;
} */

.card-title {
    margin-left: 20px;
    font-family: "Open SansS", sans-serif;
}

.created_by {
    margin-left: 20px;
}

