@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Simonetta&display=swap');

/*---------------------- Global Settings */

.green {
    background-color: #f4f5f0 !important;
    color: #007a3d !important;
}

.red {
    background-color: #f4f5f0 !important;
    color: #cd212a !important;
}

h4 {
    font-weight: bold;
}

/*---------------------- Navbar */
/* overwrite Materialize navbar */

nav {
    background-color: #f4f5f0;
    font-weight: bold;
}

nav .brand-logo {
    margin-left: 20px;
    font-size: 1.1rem;
}

nav a {
    color: #000;
}

.sidenav {
    background-color: #f4f5f0;
}

.sidenav li>a {
    font-weight: bold;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.font-heading {
    font-weight: bold;
}

/*---------------------- Flash Messages */

.flashes h4 {
    line-height: 2;
}

/*---------------------- Footer */

.copyright-style {

    font-family: "Simonetta", sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/*---------------------- Recipe Cards */

.card,
.card-panel,
.card-title {
    background-color: #f4f5f0 !important;
    font-family: "Open Sans", sans-serif;
}

/* .card-image,
.card-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
} */

.card.horizontal.small .card-image, 
.card.horizontal.medium .card-image, 
.card.horizontal.large .card-image {
    height: 80%;
    max-height: none;
    margin: 10px;
    overflow: hidden;
}

/* .card.horizontal {
    max-width: 100%;
} */

.card-title {
    
    text-align: center;
}
.card-title,
.created-by,
.category-name {    
    margin-left: 20px;
    font-family: "Open SansS", sans-serif;
}

/*---------------------- Media Queries */

/*---------------------- small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {

    nav .brand-logo {
    font-size: 2.1rem;
    }
}

/*----------------------- extra extra large devices (extra large desktops, 1920px and up) */

@media screen and (min-width: 1920px) {
    
    nav .brand-logo {
        font-size: 3.1rem;
        }
}