{% extends "base.html" %}
{% block content %}

<div class="container">    
    <h3 class="center-align">Add Recipe</h3>

        <div class="row card-panel">
            <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                <!-- recipe name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                            type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!-- select category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder prefix"></i>
                        <select id="category" name="category" type="text" class="validate" required>
                            <option value="" disabled selected>Select Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Select Category</label>
                    </div>
                </div>
                <!-- preparation time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix"></i>
                        <input id="prep_time" name="prep_time" type="text" class="validate" required>
                        <label for="prep_time">Preparation Time eg: 10 mins</label>
                    </div>
                </div>
                <!-- cooking time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix"></i>
                        <input id="cook_time" name="cook_time" type="text" class="validate" required>
                        <label for="cook_time">Cooking Time eg: 20 mins / 1 hr 30 mins</label>
                    </div>
                </div>
                <!-- servings -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensils prefix"></i>
                        <input id="servings" name="servings" type="number" pattern="[0-9]" 
                            class="validate" required>
                        <label for="servings">Servings (Numbers only)</label>
                    </div>
                </div>
                <!-- ingredients -->
                <div class="row">
                    <!-- <form class="col s12">
                        <div class="row"> -->
                            <div class="input-field col s12">
                                <i class="fas fa-pizza-slice prefix"></i>
                                <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea validate" required></textarea>
                                <label for="ingredients">Ingredients - place each ingredient on a new line</label>
                            </div>
                        <!-- </div>
                    </form> -->
                </div>            
                <!-- recipe method -->
                <div class="row">
                    <!-- <form class="col s12">
                        <div class="row"> -->
                            <div class="input-field col s12">
                                <i class="fas fa-book-open prefix"></i>
                                <textarea id="method" name="method" type="text" class="materialize-textarea validate" required></textarea>
                                <label for="method">Recipe Method - place each step on a new line</label>
                            </div>
                        <!-- </div>
                    </form> -->
                </div>
                <!-- add url for recipe image -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="recipe_image" name="recipe_image" type="url" class="validate">
                        <label for="recipe_image">Add image URL</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large red">
                            Add Recipe <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}