{% extends "base.html" %}
{% block content %}

    <div class="full-recipe-margin background-colour">
        <div class="row">
            <!-- recipe image --> 
            {% for recipe in recipes %}
            <div class="col s4">
                <div class="full-recipe-image">
                    {% if recipe.recipe_image %}
                        <img src="{{ recipe.recipe_image }}">
                    {% else %}
                        <img src="../static/images/standard-recipe-image.jpg">
                    {% endif %}                          
                </div>
            </div>
            <div class="col s12 m8">
                <h2 class="card-title">{{ recipe.recipe_name }}</h2> 
            </div>
        </div>
        <!-- recipe details -->
        <!-- ingredients and step lists code - see bugs/fixes in Testing.md -->
        <div class="row recipe-ingredients">
            <div class="col s6">
                <h4>Ingredients</h4>
                <ul>
                    {% for list in recipe.ingredients.splitlines() %}                               
                    <li class="ingredients-list">
                        <p>{{ list }}</p>
                    </li>
                    {% endfor %}                              
                </ul>
            </div>
            <div class="col s6">
                <h4>Steps</h4>
                <ol>
                    {% for steps in recipe.method.splitlines() %}
                    <li class="recipe-method">
                        <p>{{ steps }}</p>
                    </li>
                    {% endfor %}                              
                </ol>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}