{% extends "base.html" %}
{% block content %}

<div class="container">    
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <h1 class="center-align">
                        {{ username }}'s Recipes
                    </h1>
                </div>
            </div>
        </div>
        <!-- recipe card -->  
        {% for recipe in recipes %} 
            <div class="col s12 m7">
                <div class="card small horizontal">
                    <!-- recipe image -->
                    <div class="card-image">
                        {% if recipe.recipe_image %}
                            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.image_alt }}">
                        {% else %}
                            <img src="../static/images/standard-recipe-image.jpg" alt="fettucini being fed through the pasta maker">
                        {% endif %}                  
                    </div>
                    <!-- card action -->
                    <div class="card-action">
                        {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow green">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow red">Delete</a>
                        {% endif %}
                    </div> 
                    <!-- card details -->
                    <div class="card-stacked">
                        <div>
                            <p class="card-title">
                                {{ recipe.recipe_name }}                          
                            </p>
                            <span class="created-by s12 green">by:</span> 
                                {{ recipe.created_by }} 
                                <p class="category-name s12">
                                    <span class="green">
                                    Course:
                                    </span> 
                                    {{ recipe.category }}
                                </p>
                            <p>
                                <strong class="timing s12">Prep Time:</strong> {{ recipe.prep_time }}
                            </p>
                            <p>
                                <strong class="timing s12">Cook Time:</strong> {{ recipe.cook_time }}
                            </p>
                            <p>
                                <strong class="servings s12">Servings:</strong> {{ recipe.servings }}
                            </p>                                                     
                        </div>      
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}