{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.category }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_image }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.servings }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
    {% endfor %}

    <h3 class="center-align">All Recipes</h3>

    {% for recipe in recipes %} 
        <div class="row">      
            <div class="col s12 m6">
                <div class="card">               
                    <div class="card-image">
                        <img src="static/images/test_image.jpg">
                    </div>
                    <div>                    
                        <span class="card-title">
                            <strong>{{ recipe.recipe_name }}</strong>
                            <p><em>by: {{ recipe.created_by }}</em></p>
                        </span>
                        <i class="far fa-heart heart red"></i>
                    </div>
                    <div class="category-name">
                        <strong>{{ recipe.category }}</strong>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>                
                </div>
            </div>        
        </div>
    {% endfor %}

{% endblock %}
