{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Recipes</h3>

    <div class="row">
        <div class="col s12">
            <div>               
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="card-panel row valign-wrapper center-align">
                        <div class="input-field col s12 m8">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Recipes</label>
                        </div>
                        <div class="col s12">
                            <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                            <button type="submit" class="btn green text-shadow">
                                <i class="fas fa-search left"></i>Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- {% if recipes|length > 0 %} -->       
    {% for recipe in recipes %} 
        <div class="col s12 m7">
            <div class="card small horizontal">
                <div class="card-image">
                    {% if recipe.recipe_image %}
                        <img src="{{ recipe.recipe_image }}">
                    {% else %}
                        <img src="../static/images/wine_setting.jpg">
                    {% endif %}                  
                </div>

                <div class="card-action">
                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow green recipe-links">View full recipe</a>
                    {% if user %}
                        {% if recipes.recipe_id in user.favourites %}                    
                            <form class="col s12" method="POST" action="{{ url_for('delete_favourite', recipe_id=recipe._id) }}">
                                <button type="submit" name="delete_favourite" value="Delete from Favourites">
                                    Delete from Favourites <i class="fas fa-heart heart red"></i>
                                </button>
                            </form>
                        {% else %}
                            <form class="col s12" method="POST" action="{{ url_for('add_favourite', recipe_id=recipe._id) }}">
                                <button type="submit" name="add_favourite" value="Add to Favourites">
                                    Add to Favourites <i class="far fa-heart heart red"></i>
                                </button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form class="col s12" method="POST" action="{{ url_for('add_favourite', recipe_id=recipe._id) }}">
                            <button type="submit" name="add_favourite" value="Add to Favourites">
                                Add to Favourites <i class="far fa-heart heart red"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>

                <!-- <div class="card-action">
                    <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow green recipe-links">View full recipe</a>
                    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                        <div class="row">
                            <div class="input-field col s12">
                                {% if user %}
                                    {% if recipes.recipe_id in user.favourites %}
                                        <a href="{{ url_for('delete_favourite', recipe_id=recipe._id) }}" 
                                            class="col s12 btn-small text-shadow green recipe-links">Delete from Favourites 
                                            <i class="fas fa-heart heart red"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('add_favourite', recipe_id=recipe._id) }}" 
                                            class="col s12 btn-small text-shadow green recipe-links">Add to Favourites 
                                            <i class="far fa-heart heart red"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ url_for('add_favourite', recipe_id=recipe._id) }}" 
                                        class="col s12 btn-small text-shadow green recipe-links">Add to Favourites 
                                        <i class="far fa-heart heart red"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </form>                    
                </div> -->
                <div class="card-stacked">
                    <div>
                        <span class="card-title">
                            <strong>{{ recipe.recipe_name }}</strong>                                                       
                        </span>
                        <span>                  
                            <p>
                                <span class="created-by s12 green">by:</span> {{ recipe.created_by }} 
                                <strong class="category-name s12"><span class="green">
                                    Course:</span> 
                                    {{ recipe.category }}
                                </strong>
                            </p>
                        </span> 
                        <span>
                            <p>
                                <strong class="timing s12">Prep Time:</strong> {{ recipe.prep_time }}
                            </p>
                            <p>
                                <strong class="timing s12">Cook Time:</strong> {{ recipe.cook_time }}
                            </p>
                                <strong class="servings s12">Servings:</strong> {{ recipe.servings }}
                            </p>
                        </span>
                    </div>      
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
            <h3 class="red center-align">No Recipes Found</h3>
    {% endif %}
    

{% endblock %}
